.login-components {
    background-color: #c41230;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    
}



.onlineID {
    margin-left: auto;
    margin-right: auto;
}

.onlineinput {
   height:40px;
   width: 270px;
   margin-left: 11px;
}

.Passcode {
    margin-left: auto;
    margin-right: auto;
}

.passcodeinput {
   height:40px;
   width: 270px;
}

.additions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.finish{
    width:300px;
}

