.navElements {
    padding-bottom: 25px;

}

.maininfo{

}

.description {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.title{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}